<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="assets/fotop.jpg" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvido por:</ion-card-title>
    </ion-card-header>
    </ion-card>
    <ion-item>
      <ion-icon name="woman-outline" slot="start"></ion-icon>
      <ion-label>Ariel</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-open-outline" slot="start"></ion-icon>
      <ion-label>atlanticarielprincess@gmail.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="fish-outline" slot="start"></ion-icon>
      <ion-label>www.flutosdomarfrescos.com.br</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>ariel_dograuLP</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="toggle-outline" slot="start"></ion-icon>
      <ion-label>Vesão:0.0.1</ion-label>
    </ion-item>
</ion-content>

